#
# dotvim : https://github.com/dotphiles/dotvim
#
# mct ruby snippets
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

create_table :${1:table_name}, :force => ${2:true} do |t|
  t.${3:string}, :${4:column}
  ${5}
end

